<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar"
  style="background-image:url(../assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <form (ngSubmit)="login()" [formGroup]="loginForm" class="form-horizontal form-material" id="loginform"
        autocomplete="off" action="index.html">
        <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png"
            alt="Home" /><br /><img src="../assets/images/logo-text.png" alt="Home" /></a>
        <div class="form-group m-t-40">
          <div class="col-xs-12">
            <input formControlName="email" class="form-control" type="text" required="" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input formControlName="password" class="form-control" type="password" required="" placeholder="Password"
              autocomplete="off">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i>
              Olidaste la contraseña?</a>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Log In</button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            No tienes una cuenta? <a routerLink="/register" class="text-primary m-l-5"><b>Registrarse</b></a>
          </div>
        </div>
      </form>
      <form class="form-horizontal" id="recoverform" action="index.html">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Recuperar Password</h3>
            <p class="text-muted">Ingresa tu email y las instrucciones te seran enviadas! </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Email">
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light"
              type="submit">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>