<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Usuarios</h3>
        <div class="alert alert-info" *ngIf="usuarios.length === 0">
          <p class="mb-0">No hay usuarios con ese termino</p>
        </div>
        <div class="table-responsive" *ngIf="usuarios.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Imagen</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td><img class="w70" [src]="usuario.img! | imagen:'usuarios'" alt=""></td>
                <td>{{usuario.nombre}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Medicos</h3>
        <div class="alert alert-info" *ngIf="medicos.length === 0">
          <p class="mb-0">No hay medicos con ese termino</p>
        </div>
        <div class="table-responsive" *ngIf="medicos.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Imagen</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medico of medicos">
                <td><img class="w70" [src]="medico.img! | imagen:'medicos'" alt=""></td>
                <td>{{medico.nombre}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Hospital</h3>
        <div class="alert alert-info" *ngIf="hospitales.length === 0">
          <p class="mb-0">No hay hospitales con ese termino</p>
        </div>
        <div class="table-responsive" *ngIf="hospitales.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Imagen</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitales">
                <td><img class="w70" [src]="hospital.img! | imagen:'hospitales'" alt=""></td>
                <td>{{hospital.nombre}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>