<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar"
  style="background-image:url(../assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <form (ngSubmit)="crearUsuario()" [formGroup]="registerForm" class="form-horizontal form-material" id="loginform">
        <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png"
            alt="Home" /><br /><img src="../assets/images/logo-text.png" alt="Home" /></a>
        <h3 class="box-title m-t-40 m-b-0">Registrate ahora</h3><small>Crea tu cuenta y diviertete</small>
        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <input formControlName="nombre" class="form-control" type="text" r placeholder="Nombre">
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input formControlName="email" class="form-control" type="text" placeholder="Email">
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input formControlName="password" class="form-control" type="password" placeholder="Contraseña">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input formControlName="password2" class="form-control" type="password" placeholder="Confirmar contraseña">
          </div>
        </div>

        <div class="row">
          <div class="col text-danger">
            <p *ngIf="campoNoValido('nombre')">El nombre es obligatorio</p>
            <p *ngIf="campoNoValido('email')">El email es obligatorio</p>
            <p *ngIf="constrasenasNoCoinciden()">Paaswords no coinciden </p>
          </div>
        </div>

        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
              type="submit">Registro</button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Ya tienes una cuenta? <a routerLink="/login" class="text-info m-l-5"><b>Login</b></a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>