<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Buscar hospital" #txtTermino
          (keyup)="buscar(txtTermino.value)" />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">

      <div class="card-body">
        <div class="row">
          <div class="col8">
            <h4 class="card-title">Hospitales ({{totalHospitales}})</h4>
            <h6 class="card-subtitle">Hospitales registrados en la plataforma</h6>
          </div>
          <div class="col">
            <div class="text-right"><button (click)="abrirModalSweet()" class="btn btn-primary">
                <i class="fa fa-hospital-o "></i>
                Crear hospital
              </button></div>
          </div>
        </div>


        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Foto</th>
                <th>Nombre</th>
                <th class="text-nowrap w100">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitales">
                <!-- como el pipe recibe 2 parametros, por defecto el hospital.img seria el primer parametro -->
                <td class="text-center">
                  <img [src]="hospital.img! | imagen:'hospitales'" alt="" class="w100 cursor"
                    (click)="abrirModal(hospital)">
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="Nombre del hospital"
                    [(ngModel)]="hospital.nombre" />
                </td>

                <td class="text-nowrap text-center">
                  <a (click)="guardarCambios(hospital)" class="cursor" data-toggle="tooltip"
                    data-original-title="Guardar cambios"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                  <a (click)="eliminarHospital(hospital)" class="cursor" data-toggle="tooltip"
                    data-original-title="Borrar"> <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Siguiente</button>
        &nbsp;
        <button (click)="cambiarPagina(5)" class="btn btn-secondary">Anterior</button> -->
      </div>
    </div>
  </div>
</div>