<p>Esta es una aplicación creada con el MEAN stack de Angular creada en un Dashboard de Bootstrap, la cual tiene por
  objetivo mostrar mis conocimientos
  adquiridos en el desarrollo web.</p>
<p>En el menu del Dashboard podemos encontrar algunos conceptos basicos de Angular como lo son el databinding
  funcionando en el submenu progressbar, las graficas y conceptos de RxJs el cual se puede ver su funcionamiento en el
  console log.</p>
<p>En el menu mantenimientos se pueden encontrar las diferentes funcionalidades de la app, un completo CRUD de usuarios,
  hospitales y medicos, todo esto con previos permisos de admin.</p>