<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Buscar usuario" (keydown)="buscar(txtTermino.value)"
          #txtTermino />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total de usuarios ({{totalUsuarios}})</h4>
        <h6 class="card-subtitle">Usuarios registrados en la plataforma</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Imagen</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th class="w140">Role</th>
                <th class="w140">Cambiar role</th>
                <th class="w100">Auth</th>
                <th class="text-nowrap w100">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td class="text-center">
                  <img [src]="usuario.imagenUrl" alt="Imagen de usuario" class="avatar cursor"
                    (click)="abrirModal(usuario)">
                </td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.role}}</td>
                <td>
                  <select class="form-control" [(ngModel)]="usuario.role" (change)="cambiarRole(usuario)">
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE ">Usuario</option>
                  </select>
                </td>

                <td>
                  <span class="label label-info">Email</span>
                </td>

                <td class="text-nowrap text-center">
                  <a (click)="eliminarUsuario(usuario)" data-toggle="tooltip" data-original-title="Borrar"> <i
                      class="fa fa-close text-danger cursor"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="txtTermino.value.length ===0">
          <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button>
          &nbsp;
          <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
        </div>

      </div>
    </div>
  </div>
</div>